<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132737678692-l04r0bt4ca8grfpue6v4kara6ujqiqet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132737678692-l04r0bt4ca8grfpue6v4kara6ujqiqet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132737678692-qg0drk1q4qrpc4d4jrtgm1d9iaphs2qp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Wsgy3UISHuRkUxJsUx4ZVje-hMjLeRw</string>
	<key>GCM_SENDER_ID</key>
	<string>132737678692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jimatgoApp</string>
	<key>PROJECT_ID</key>
	<string>jimatgo-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jimatgo-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132737678692:ios:7ee24a1a90616de13e0e71</string>
	<key>DATABASE_URL</key>
	<string>https://jimatgo-mobile-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>